<%- include('partials/header') %>

<div class="ui main text container segment">

<% posts.forEach(post => { %>
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="<%= post.image %>">
      </div>
      <div class="content">
        <a href="/posts/<%= post._id %>" class="header"><%= post.title %></a>
        <div class="meta">
          <span><%= post.created.toDateString() %></span>
        </div>
        <div class="description">
          <p>
            <%= post.body.split(' ').splice(0, 25).join(' ') %>
             ...
            <a href="/posts/<%= post._id %>">more</a>
          </p>
        </div>
        <div class="extra"></div>
      </div>
    </div>
  </div>
<% }) %> 

</div>

    




<%- include('partials/footer') %> 