<%- include('partials/header') %>

<div class="ui main text container segment">

<% posts.forEach((post, i) => { %>
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img class="index-image" src="<%= post.image %>" onerror=this.src="../images/placeholder.png">
      </div>
      <div class="content">
        <a href="/posts/<%= post._id %>" class="header"><%= post.title %></a>
        <div class="meta">
          <span><%= post.created.toDateString() %></span>
        </div>
        <div class="description">
          <p>
            <% if (post.body.split(' ').length > 25) { %> 
              <%= post.body.split(' ').splice(0, 25).join(' ') %>
              ... <a href="/posts/<%= post._id %>">more</a>
            <% } else { %>
              <%= post.body %> 
            <% } %>  
          </p>
        </div>
        <div class="extra"></div>
      </div>
    </div>
  </div>
  <% if (i < posts.length - 1) { %> 
    <div class="ui divider"></div>
  <% } %> 
<% }) %> 

</div>

    




<%- include('partials/footer') %> 